<app-mancala-store
    *ngFor="let score of gameState.playerScores; index as playerId"
    [seedCount]="score"
    [ngStyle]="{
        gridColumn: playerId == 0 ? gameState.board[0].length + 2 : 1,
        gridRow: 2 - playerId
    }"
></app-mancala-store>
<ng-container
    *ngFor="let row of gameState.board; index as rowId; count as count"
>
    <app-mancala-house
        *ngFor="let house of row; index as houseId"
        [ngStyle]="{ gridRow: rowId, gridColumn: 2 + houseId }"
        [seedCount]="house.seedCount"
        [belongsToCurrentPlayer]="
            belongsToActivePlayer(house.identifier.player)
        "
        [houseId]="house.identifier"
        (click)="onHouseClicked(house.identifier)"
    ></app-mancala-house>
</ng-container>
<app-turn-indicator
    [currentPlayer]="gameState.activePlayer"
></app-turn-indicator>
